body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.textWithBlurredBg{
    width:250px;
    height:250px;
    display:inline-block;
    position:relative;
    transition:.3s;
    margin:4px;
  }

  .textWithBlurredBg img{
    width:100%;
    height:100%;
    transition:.3s;
    border-radius:4px;
    object-fit: contain;
  }

  .textWithBlurredBg:hover img{
    filter:blur(2px) brightness(60%);
    box-shadow:0 0 16px cyan;
  }

  .textWithBlurredBg :not(img){
    position:absolute;
    z-index:1;
    top:30%;
    width:100%;
    text-align:center;
    color:#fff;
    opacity:0;
    transition:.3s;
  }

  .textWithBlurredBg h3{
    top:50%
  }

  .textWithBlurredBg:hover :not(img){
    opacity:1;
  }


  .modal-body {
    text-align: center;
  }

  /*.on-left {
    float: left;
  }

  .on-right {
    width: 50%;
    float: right;
    height: 100%;
  }*/

  .content {
    height: 100%;
    overflow: auto;
  }

  .search-page-grid {
    width: 100vw;
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.8fr 1fr 1fr;
    background-image: url('./images/dogbg2.jpg');
    background-size: cover;

  }

  .form-div {
    height: 50%;
    grid-area: 3 / 2 / span 1 / span 1;
    border-radius: 25px;
    padding: 15px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
  }

  .form-div h2{
    color: white;
  }

  .search-form {
    width: 100%;
    margin: 0 auto;
  }

  .dog-container-grid {
    width: 100vw;
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
  }

  .on-left {
    grid-area: 1 / 1 / span 1 / span 1;
  }

  .on-right {
    grid-area: 1 / 2 / span 1 / span 1;
  }
